body {
  background:url("wall.jpg");
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.black {
  background-color: rgba(0, 0, 0, 0.678);
  width: 450px;
  height: 700px;
  color: white;
  text-align: center;
}
hr{
  margin: 0;
  padding: 0;
}
h1 {
  top: 20px;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
p {
  font-size: 200%;
}
h6{
  font-size: 15px;
}
#tab {
  right: 42.5%;
  display: flex;
  position: fixed;
  margin-top: 10px;
  z-index: 1;
  height: 50px;
}

a:link {
  color: black;
}
.photos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product {
  display: fle;
  flex-direction: column;
  align-items: center;
  font-size: 200%;

}
.pizza1{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
}
.ravioli1{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
}
.pasta1{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
}
.salad1{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
}
.risotto1{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
}
.coffee1{
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
}
.contact {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  width: 20%;
  align-content: center;
  align-items: center;
}
#conn {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
hr {
  color: black;
  background-color: black;
  border-color: black;
}
.gluten{
    background: rgba(255, 204, 127, 0.8);
    padding: 4px 8px;
    font-size: 20px;
    transition: .5s ease;
    opacity:0;
    position: absolute;
    width: 384px;
    text-align: center;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.275);
}
.sale{
    background: rgba(255, 255, 255, 0.8);
    padding: 4px 8px;
    position:absolute;
    font-size: 20px;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    transition: .5s ease;
    opacity:0;
    position: absolute;
    width: 384px;
    text-align: center;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.275);
}
#a{
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-radius:5px;
  box-shadow:inset -2px -2px 2px 0px rgba(0, 0, 0, 0.132),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  background-image: linear-gradient(rgb(110, 228, 255), rgb(127, 136, 255));
  stroke: 2px white;
  transition: ease-in-out;
  transition-duration: 300ms;
  height: 20px;
}
#a:hover{
  padding: 10px;
  font-weight:900;
  box-shadow:inset 2px 2px 2px 0px rgba(0, 0, 0, 0.132),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}
#b{
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  background-image: linear-gradient(rgb(195, 255, 235), aquamarine);
  border-radius:5px;
  box-shadow:inset -2px -2px 2px 0px rgba(0, 0, 0, 0.132),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  height: 20px;
  transition: ease-in-out;
  transition-duration: 300ms;
}
#b:hover{
  padding: 10px;
  font-weight:900;
}
#c{
  padding: 5px;
  margin-right: 5px;
  text-decoration: none;
  background-image: linear-gradient(rgb(195, 255, 235), aquamarine);
  border-radius:5px;
  box-shadow:inset -2px -2px 2px 0px rgba(0, 0, 0, 0.132),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  height: 20px;
  transition: ease-in-out;
  transition-duration: 300ms;
}
#c:hover{
  padding: 10px;
  font-weight:900;
}
#d{
  padding: 5px;
  text-decoration: none;
  background-image: linear-gradient(rgb(195, 255, 235), aquamarine);
  border-radius:5px;
  box-shadow:inset -2px -2px 2px 0px rgba(0, 0, 0, 0.132),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  height: 20px;
  transition: ease-in-out;
  transition-duration: 300ms;
}
#d:hover{
  padding: 10px;
  font-weight:900;
}
#up{
  padding: 5px;
  text-decoration: none;
  background-image: linear-gradient(rgb(195, 255, 235), aquamarine);
  border-radius:15px; 
  min-width: max-content;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow:inset -2px -2px 2px 0px rgba(0, 0, 0, 0.132),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
#up:hover{
  padding: 10px;
  font-weight: 900;
}
#price{
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgb(110, 228, 255), rgb(127, 136, 255));
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
  border-radius: 10px;
  padding: 5px;
}
h2{
  margin: 0;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  background-image: linear-gradient(rgb(195, 255, 235), aquamarine); 
}
@media only screen and (max-width: 768px)  {
  #tab{
    right: 27%;
  }
  .black{
    max-width: 100vw;
    height: 500px;
  }
  h1{
    font-size: 3rem
  }
  p{
    font-size: 170%;
  }
  #faq{
    max-width: 100vw;
  }
  .product{
    max-width: 90vw;
    right: 0px;
  }
  #up{
    right: 70px;
  }
  h6{
    font-size: 10px;
    width: 100vw;
  }
  .madeinitaly{
    right: 22% !important;
    top: 338px !important;
  }
  #everything{
    width: 200px !important;
    font-size: 30px !important;
    margin-left: 3px;
  }
  .png{
    width: 220px;
    height: 58px;
}
.pizza1{
  width: 373px;
}
.ravioli1{
  width: 373px;
}
.pasta1{
  width: 373px;
}
.salad1{
  width: 373px;
}
.risotto1{
  width: 373px;
}
.coffee1{
  width: 373px;
}
  }

.product:hover .gluten{
  opacity: 1;
}
.product:hover .sale{
  opacity: 1;
}
.madeinitaly{
  text-align: center;
  right: 200px;
  top: 250px;
  position: absolute;
}
#everything{
  width: fit-content;
  font-size: 60px;
  color:white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.482);
  background-image: none;
}
.main{
  background: url(rest.back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}